input#search {
    height: 39px;
}
.bill {
    background: #4bc6f2;
    height: 50px;
    padding: 5px 0px 10px 0;
}
ul.tab-bills li {
    background: #FFF !important;
    margin-right: 2px;
}
ul.tab-bills li a{
    border-radius: 0 0;
}
ul.tab-bills li.active a{
    background: #DDD !important;
}
.p-t-5 {
    padding-top: 5px;
}
.m-10 {
    margin: 10px 10px;
}
.left-3 {
    margin-left: 3px;
}
.right {
    text-align: right;
}
.red {
    color: red;
}
.w-20 {
    width: 20px;
}
.w-50 {
    width: 50px;
}
.w-80 {
    width: 80px;
}
.w-100 {
    width: 100px;
}
.w-120 {
    width: 120px;
}
.w-150 {
    width: 150px;
}
.w-200 {
    width: 200px;
}
.w-300 {
    width: 300px;
}
.w-400 {
    width: 400px;
}
.w-500 {
    width: 500px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.number {
    margin: 0 2px 0 2px;
}
.pay {
    background: #DDF0F7 !important;
}
.jsProduct {
    cursor: pointer;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.adtocart {
    padding: 13px 0;
}
.border {
    border: 1px solid #CCC;
}
.description-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.jsDisabled {
    display: none;
}
.adtocart {
    left: 35%;
}